<CupConfiguration>
  <Cup name="Sportvogl Cup 2016"
       year="2016">
  </Cup>
  <Classes filter="include">
    <Class name="Oberstufe Herren" id="1" diplayName="OS H" />
    <Class name="Oberstufe Damen" id="2" diplayName="OS D" />
    <Class name="Unterstufe Herren -2006" id="3" diplayName="US H -06" />
    <Class name="Unterstufe Damen -2006" id="4" diplayName="US D -06" />
    <Class name="Unterstufe Herren 2004/05" id="5" diplayName="US H 04/05"/>
    <Class name="Unterstufe Damen 2004/05" id="6" diplayName="US D 04/05" />
    <Class name="Unterstufe Herren" id="11" diplayName="US H"/>
    <Class name="Unterstufe Damen" id="12" diplayName="US D" />
  </Classes>
  <Organisations filter="include">
    <!-- filter = include ... includes all Organisations listed
         filter = exclude ... excludes all Organisations listed
         any other filter ... use all Organisations in result fileName -->
    <!-- if name is "" the name from result file will be used -->
    <Organisation name="ASKÖ Henndorf" id="32" />
    <Organisation name="SSV Hallein-Neualm" id="35" />
    <Organisation name="HBLA Ursprung" id="52" />
    <Organisation name="HSV Wals" id="33" />
  </Organisations>
  <Output>
    <Html active="true"
          fileName="cup-2016.html"
          cssInline="true"
          docTemplate="./resources/document_template.html"
          classTemplate="./resources/class_template.html"
          detailsTemplate="./resources/details_template.html"
          cssFile="./resources/default.css"></Html>
    <Pdf active="true" fileName="cup-2016.pdf" orientation="Landscape" image=""></Pdf>
    <Json active="true" fileName="cup-2016.json"></Json>
  </Output>
  <Names>
    <Name name="Bubu" aliasFor="der Hund, the great"/>
    <Name name="Tcharly Hackl" aliasFor="Karl Hackl"/>
  </Names>
  <Translations>
    <Translation key="DidNotFinish" translate="aufg." />
    <Translation key="DidNotStart" translate="n ang." />
    <Translation key="MissingPunch" translate="Fehlst." />
  </Translations>
</CupConfiguration>