<CupConfiguration>
  <Cup name="Sportvogl Cup 2016"
       year="2016"
       numberOfEvents="9"
       takeBest="6"
       calcRule="calcPointsFromTime"
       resultFilePrefix="SC"
       includeStatus="DidNotFinish,MissingPunch">
	<!-- set num to 0 if not needed -->
    <Event num="1" date="" name="" fileName="" />
	  <Event num="9" multiply="2.0" />
    <Event num="11" multiply="3.0" />
  </Cup>
  <Classes>
    <Class name="S-Damen -13" id="50" diplayName="D13" />
    <Class name="S-Damen -15" id="51" diplayName="D15" />
    <Class name="S-Damen -18" id="52" diplayName="D18" />
    <Class name="S-Damen 19-" id="53" diplayName="D Elite" />
    <Class name="S-Damen 35-" id="54" diplayName="D35" />
    <Class name="S-Damen 45-" id="55" diplayName="D45" />
    <Class name="S-Damen 55-" id="56" diplayName="D55" />
    <Class name="S-Herren -13" id="57" diplayName="H13" />
    <Class name="S-Herren -15" id="58" diplayName="H15" />
	  <Class name="S-Herren -18" id="59" diplayName="H18" />
    <Class name="S-Herren 19-" id="60" diplayName="H Elite" />
    <Class name="S-Herren 35-" id="61" diplayName="H35" />
    <Class name="S-Herren 45-" id="62" diplayName="H45" />
    <Class name="S-Herren 55-" id="63" diplayName="H55" />
  </Classes>
  <Organisations>
    <Organisation name="ASKÖ Henndorf" id="32" />
    <Organisation name="SSV Hallein-Neualm" id="35" />
    <Organisation name="HBLA Ursprung" id="52" />
    <Organisation name="HSV Wals" id="33" />
  </Organisations>
  <Output>
    <Html fileName="cup-2016.html"
          cssInline="true"
          docTemplate="./resources/document_template.html"
          classTemplate="./resources/class_template.html"
          detailsTemplate="./resources/details_template.html"
          cssFile="./resources/default.css"></Html>
    <Pdf fileName="cup-2016.pdf" orientation="Landscape" image=""></Pdf>
  </Output>
  <Names>
    <Name name="Bubu" aliasFor="der Hund, the great"/>
    <Name name="Tcharly Hackl" aliasFor="Karl Hackl"/>
  </Names>
</CupConfiguration>