body{
  background:#fff;
  margin:20px;
  padding:0px;
}

body,td{
  color:#444;
  font-family:Tahoma,Verdana,Arial,sans-serif;
  font-size:11px;
}

dd{
  border-left:1px solid #aaa;
  margin-left:10px;
  padding-left:2px;
}

dt{
  margin-top:15px;
}

div.category_title{
  border-bottom:1px solid #999;
  font-size:16px;
  font-weight:bold;
  letter-spacing:2px;
  margin-bottom:10px;
}

div.time{
 color:blue;
}

h1{
  color:#f00;
  font-size:25px;
  font-weight:bold;
  margin-bottom:10px;
  margin-top:0px;
}

rder:1px solid #176795;
  font-family:Tahoma,Verdana,Arial,sans-serif;
  font-size:10px;
  padding-left:3px;
  padding-top:2px;
}
td.whitetext{
  color:#fff;
}

td.ranking_header{
  border-bottom:1px solid #444;
}

tr.cal_out_dark{
  background:#bbb;
  height:45px;
}

tr.row_style_even{
  background:#ddd;
  height:45px;
}

tr.row_style_odd{
  background:#fff;
  height:45px;
}
 


