<!-- supported types: Team, Cup, Sum -->
<Configuration type="Cup">
  <!-- showEvents: All, OmitAllMissing, OmitTailMissing -->
  <General name="Sportvogl Cup 2016"
           year="2016"
           numberOfPlannedEvents="9"
           numberOfValidEvents="7"
           numberOfCountingEvents="4"
           calcRule="rule_name"
           resultFileRegex="SC_\d{2}_2020"
           recurseSubDirs="false"
           includeStatus="DidNotFinish,MissingPunch"
           eventTitle="Sbg.Cup"
           showEvents="All"
           showCompetitors="-1">
  </General>
  <PreProcessing>
    <!-- options for input file preprocessing -->
    <Task name="fromCSV" sequence="1" active="true">
      <Param key="separator">;</Param>
      <Param key="encoding">iso-8859-1</Param>
      <Param key="controlCard">Chipnr</Param>
      <Param key="givenName">Vorname</Param>
      <Param key="familyName">Nachname</Param>
      <Param key="notCompeting">AK</Param>
      <Param key="status">Wertung</Param>
      <Param key="time">Zeit</Param>
      <Param key="position">Platz</Param>
      <Param key="orgId">Club-Nr.</Param>
      <Param key="orgName">Ort</Param>
      <Param key="classId">Katnr</Param>
      <Param key="className">Lang</Param>
      <Param key="classNameShort">Kurz</Param>
    </Task>
    <Task name="toUtf8" sequence="2" active="true" />
    <Task name="toJson" sequence="3" active="true" />
  </PreProcessing>
  <PostProcessing>
    <!-- options for result postprocessing -->
    <Task name="sumOrganisations" sequence="1" active="true">
      <Param key="outputPrefix">Vereine</Param>
      <!-- sumType: all ... sum up all points from competitors -->
      <!-- sumType: cup ... sum up cup points from competitors -->
      <Param key="sumType">all</Param>
    </Task>
    <Task name="dummy" sequence="2" active="false">
      <!-- dummy task needed to declare Tasks array -->
    </Task>
  </PostProcessing>
  <Events>
    <!-- set num to 0 if not needed -->
    <Event num="1" date="1. Juli 1994" name="Chicken Tag 1" fileName="">
      <map type="class" from="a" to="b" />
      <map type="org" from="c" to="d" />
    </Event>
    <Event num="9" multiply="2.0" calcRule="participate" />
    <Event num="11" multiply="3.0" />
  </Events>
  <Classes filter="include" presentationOrder="a,1,3,5,2,4,6">
    <!-- filter = include ... includes all Classes listed
         filter = exclude ... excludes all Classes listed
         any other filter ... use all Classes in result file -->
    <Class name="Oberstufe Herren" id="1" shortName="OS H" calcRule="SbgCup"/>
    <Class name="Oberstufe Damen" id="2" shortName="OS D" />
    <Class name="Unterstufe Herren -2006" id="3" shortName="US H -06" />
    <Class name="Unterstufe Damen -2006" id="4" shortName="US D -06" />
    <Class name="Unterstufe Herren 2004/05" id="5" shortName="US H 04/05"/>
    <Class name="Unterstufe Damen 2004/05" id="6" shortName="US D 04/05" />
    <Class name="Unterstufe Herren" id="11" shortName="US H"/>
    <Class name="Unterstufe Damen" id="12" shortName="US D" />
    <!-- list class ids (comma separated) to be combined to one virtual 'class' -->
    <Combine name="Unterstufe Herren" classIds="abc" shortName="US H"/>
    <Combine name="Unterstufe Damen" classIds="efg,uvs" shortName="US H"/>
  </Classes>
  <Organisations filter="include">
    <!-- filter = include ... includes all Organisations listed
         filter = exclude ... excludes all Organisations listed
         any other filter ... use all Organisations in result file -->
    <!-- if name is "" the name from result file will be used -->
    <Organisation name="ASKÖ Henndorf" id="32" />
    <Organisation name="SSV Hallein-Neualm" id="35" />
    <Organisation name="HBLA Ursprung" id="52" />
    <Organisation name="HSV Wals" id="33" />
  </Organisations>
  <Output>
    <Html active="true"
          fileName="cup-2016.html"
          cssInline="true"
          docTemplate="./resources/document_template.html"
          classTemplate="./resources/class_template.html"
          detailsTemplate="./resources/details_template.html"
          cssFile="./resources/default.css" />
    <Pdf active="true"
         fileName="cup-2016.pdf"
         pageOrientation="Landscape"
         pageSize="A4"
         marginLeft="10"
         marginTop="20"
         marginRight="10"
         marginBottom="20" />
    <Json active="true" fileName="cup-2016.json" />
  </Output>
  <Names>
    <Name name="Bubu" aliasFor="der Hund, the great"/>
    <Name name="Tcharly Hackl" aliasFor="Karl Hackl"/>
  </Names>
  <Translations>
    <Translation key="DidNotFinish" translate="aufg." />
    <Translation key="DidNotStart" translate="n ang." />
    <Translation key="MissingPunch" translate="Fehlst." />
  </Translations>
</Configuration>